<div style="margin:40px">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <p><%= link_to 'index translations', translations_path %></p>
 <p><%= link_to 'index articles', articles_path %></p>
</div>
